# ===== Build output (Maven) =====
target/
*.class
*.jar
*.war
*.ear

# ===== Logs =====
*.log

# ===== IDEs / editores =====
.vscode/
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
nbproject/
nbbuild/
nb-configuration.xml
.netbeans.pid

# ===== Sistema operacional =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Outros =====
*.bak
*.tmp
*.swp